{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    flood-color: rgb(139, 236, 218);
}

main {
    background-color:rgb(252, 169, 206);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 6px rgb(252, 252, 252);
}
h1{
    background-color: rgb(106, 88, 172);
}
h2{
    background-color: rgb(128, 87, 230);
}